.grid-genres {
	display: flex;
	flex-wrap: wrap;

	.card-grid-genre {
		position: relative;
		width: 100%;
		width: 18.4rem !important;
		height: 9.2rem !important;
		margin: 1rem;
		cursor: pointer;
		transition: 0.2s ease-in-out all;

		figure {
			img {
				width: 18.4rem !important;
				height: 9.2rem !important;
				object-fit: cover;
			}
		}

		.title-genre {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $textColorLight;

			.title-genre-text {
				font-size: 1.6rem;
				margin: 0;
				font-weight: $roboto-Bold;
				padding: 1rem;
				border-radius: 10%;
				background-color: rgba(0, 0, 0, 0.7);
			}
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

// @media (min-width: 768px) {
// 	.card-grid-genre {
// 		width: 18.2rem;
// 		figure {
// 			img {
// 				height: 9.2rem !important;
// 			}
// 		}
// 	}
// }

// @media (min-width: 1100px) {
// 	.card-grid-genre {
// 		width: 1.82rem;
// 		figure {
// 			img {
// 				height: 9.2rem !important;
// 			}
// 		}
// 	}
// }

// @media (min-width: 1200px) {
// 	.card-grid-genre {
// 		width: 2.01rem;
// 		figure {
// 			img {
// 				height: 10.2rem !important;
// 			}
// 		}
// 	}
// }

// @media (min-width: 1310px) {
// 	.card-grid-genre {
// 		width: 2.34rem;
// 		figure {
// 			img {
// 				height: 11.9rem !important;
// 			}
// 		}
// 	}
// }

// @media (min-width: 1430px) {
// 	.card-grid-genre {
// 		width: 26.4rem;
// 		figure {
// 			img {
// 				height: 13.4rem !important;
// 			}
// 		}
// 	}
// }

// @media (min-width: 1728px) {
// 	.card-grid-genre {
// 		width: 26.4rem;
// 		figure {
// 			img {
// 				height: 13.4rem !important;
// 			}
// 		}
// 	}
// }
