.music-loved-content {
	h1 {
		margin: 0;
	}
}

.loved-heading {
	display: flex;
	align-items: center;
	min-height: 4.8rem;

	.music-loved-share {
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 0.1rem solid #6f675b;
			border-radius: 3rem;
			padding: 0.6rem;
			background-color: transparent;
			cursor: pointer;
		}
	}

	.music-loved-filter {
		width: 40%;
		margin-left: auto;

		.group-input-loved {
			display: flex;
			align-items: center;
			position: relative;

			svg {
				position: absolute;
				left: 0.7rem;
				z-index: 2;
			}

			input {
				width: 100%;
				background-color: #1c1c24;
				color: #cdc8c2;
				border: 0.1rem solid #6f675b;
				border-radius: 2rem;
				padding: 1rem;
				padding-inline-start: 3rem;
			}
		}
	}
}

.music-favorite-empty {
	display: flex;
	flex-direction: column;
	h2 {
		font-size: 1.8rem;
		text-align: center;
	}

	p {
		font-size: 1.4rem;
		text-align: center;
	}

	.add-music {
		margin-top: 3.2rem;
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;

		a {
			display: inline-flex;
			align-items: center;
			min-width: 2.6rem;
			height: 2.6rem;
			border: 1px solid #7a7164;
			background-color: #42474a;
			color: white;
			border-radius: 2rem;
			padding: 1.8rem 1.8rem;
			cursor: pointer;
		}
	}
}
