@import './base/reset';
@import './utilities/variables';
@import './utilities/function';
@import './utilities/mixins';
@import './base/typo';
@import './base/globales';

@import './components/SectionCards/card.scss';
@import './components/SectionCards/CardFree.scss';
@import './components/SectionCards/CardFamily.scss';
@import './components/SectionCards/CardPartNe.scss';
@import './components/spinner.scss';
@import './components/Button.scss';
@import './components/modalChannelSection.scss';
@import './components/Slider/slider.scss';
@import './components/modalNotification.scss';

@import './layout/layout.scss';
@import './layout/header.scss';
@import './layout/mainPage.scss';
@import './layout/search.scss';
@import './layout/sideBar.scss';
@import './layout/WebPlayer/pagePlayer.scss';
@import './layout/Musica/musica.scss';
@import './layout/Musica/SectionAddArtist.scss';
@import './layout/Musica/sectionArtistsFavorite.scss';
@import './layout/Musica/sectionPlaylistTop.scss';
@import './layout/Podcasts/podcasts.scss';
@import './layout/Podcasts/sectionPodcastsPopular.scss';
@import './layout/Explorar/explorar.scss';
@import './layout/Explorar/components/sectionGenres.scss';
@import './layout/Profile/profile.scss';
@import './layout/Profile/components/profileHeader.scss';
@import './layout/Profile/components/createPlaylist.scss';
@import './layout/Profile/components/sectionSliderArtistProfile.scss';
@import './layout/Search/search.scss';
@import './layout/Search/components/searchNavBar.scss';
@import './layout/Search/components/sectionResultSearchAll.scss';
@import './layout/Search/components/searchNavBarPlaylist.scss';
@import './layout/Search/components/searchNavBarTrack.scss';
@import './layout/Search/components/searchNavBarAlbum.scss';
@import './layout/Search/components/searchNavBarArtist.scss';

@import './layout/Playlist/playlist.scss';
@import './layout/Playlist/headerPlaylist.scss';

html {
   width: 100%;
   height: 100%;
}

body {
   background-color: $colorPrimary;
   width: 100%;
   height: 100%;
}

.root {
   position: relative;
   width: 100%;
   height: 100%;
}

.layout {
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.layout::before {
   background: linear-gradient(126.05deg, rgb(241 42 42/90%) 25.95%, #bf1ceb 44.46%, #06ad57 65.35%);
   height: 50vh;
   width: 70vh;
   border-radius: 100%;
   position: absolute;
   content: '';
   filter: blur(170px);
   top: 50px;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   z-index: -1;

   body.no-bg & {
      height: 0vh;
   }
}
