.card-artist-profile {
   width: 100%;
   height: 100%;

   figure {
      border-radius: 50%;
      overflow: hidden;
      width: 16.2rem;
      height: 16.2rem;
      transition: 0.3s ease-in-out all;
      position: relative;

      &:hover {
         opacity: 0.7;

         .actions {
            opacity: 1;
         }
      }

      img {
         object-fit: cover;
         height: 100%;
         width: 100%;
      }

      .actions {
         position: absolute;
         bottom: 10%;
         left: 50%;
         transform: translateX(-40%);
         display: flex;
         gap: 1rem;
         z-index: 100;
         opacity: 0;
         transition: 0.3s ease-in-out all;

         .play {
            padding: 1rem;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
         }

         .like-artist {
            padding: 1rem;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
         }
      }
   }

   .artist-name {
      font-size: 1.4rem;
      text-align: center;
      position: relative;
      margin: 0.5rem;
   }

   .followers {
      font-size: 1.2rem;
      text-align: center;
      position: relative;
      margin: 0;
      color: #a2a2ad;
   }
}

.arrows {
   position: absolute;
   top: -6.5rem;
   right: 4rem;

   button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 2rem;
   }
}

@media (min-width: 1100px) {
   .card-artist-profile {
      figure {
         height: 18.2rem !important;
         width: 18.2rem !important;
      }
   }
}

@media (min-width: 1200px) {
   .card-artist-profile {
      figure {
         height: 20.1rem !important;
         width: 20.1rem !important;
      }
   }
}

@media (min-width: 1310px) {
   .card-artist-profile {
      figure {
         height: 23.4rem !important;
         width: 23.4rem !important;
      }
   }
}

@media (min-width: 1430px) {
   .card-artist-profile {
      figure {
         height: 26.4rem !important;
         width: 26.4rem !important;
      }
   }
}

@media (min-width: 1728px) {
   .card-artist-profile {
      figure {
         height: 26.4rem !important;
         width: 26.4rem !important;
      }
   }
}
