.card-partnership {
   color: $colorSecondary;
   background: linear-gradient(180deg, #202122, #3a3b47 55.56%);
   padding: 24px 80px 16px;
   border-radius: 2rem;
   text-align: center;
   min-width: 60rem;
   margin-bottom: 5rem;
   display: flex;
   flex-direction: column;

   h2 {
      margin-top: 0;
   }

   img {
      width: 16%;
      margin-bottom: 1.5rem;
   }
}
