.list-artist-favorite {
   display: flex;
   position: relative;
   padding-left: 0;
   overflow: hidden;
   flex-wrap: nowrap;
   margin: 0;

   .list-items-artist-favorite {
      flex: 0 0 calc(100% / 5);
      list-style: none;
      box-sizing: border-box;

      figure {
         border-radius: 50%;
         overflow: hidden;
         max-width: 100%;
         max-height: 100%;
         width: 26.4rem;
         height: 26.4rem;
         margin: 0;

         img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            /*  padding: 1rem;
        border-radius: 50%; */
         }
      }
   }
}
